<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <!--<form name="registerForm" #f="ngForm" (submit)="choose(f.value,f)"  novalidate class="form-signin">-->

        <h2 class="form-signin-heading">Magazines</h2>
        <br/>

        <div *ngFor="let magazine of magazines">
          <div class="form-group list-group-item" (click)="viewWorks(magazine.id)">

            <label> {{magazine['title']}}  </label>
            <br/>
            <small> {{magazine['title']}} </small>
            <br/>

            <div>
            <button type="submit" *ngIf="magazine['openAccess'] === false && magazine['paid'] === false "  class="btn btn-sm btn-primary pull-right" (click)="buyMagazine(magazine.id)">
              <i class="fa fa-envelope-o"></i>
              <span> Buy</span>
            </button>

            </div>
          </div>
        </div>



      <!--</form>-->
    </div>
    <div class="offset-3"></div>
  </div>
</div>
