<div class="navbar-collapse">
  <ul>
    <div class="navbar-nav" style="vertical-align: bottom">
      <a class="nav-item nav-link active" id="nav-link" style="color: rgb(23, 156, 116)" routerLink="/workData">

        Dodaj rad
      </a>
      <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/1">

        Pretraga po nazivu časopisa
      </a>
      <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/2">

        Pretraga po naslovu rada
      </a>
      <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/3">
        Pretraga po autorima
      </a>
      <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/4">
        Pretraga po ključnim pojmovima
      </a>
      <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/5">
        Pretraga po sadržaju
      </a>
      <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/6">
        Pretraga po naučnim oblastima
      </a>
      <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/advancedSearch">
        Kombinovana pretraga
      </a>
    </div>
  </ul>
</div>
